.navbar {
  font-family: "Agbalumo";
}
.navbar-brand {
  padding: 2rem;
  font-size: xx-large;
}
.navbar-nav {
  margin: 2rem;
  justify-content: end;
  padding: 0.4rem;
}
.nav-item {
  margin-bottom: 1.2rem;
  font-weight: 100;
  font-size: 1.7rem;
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.logo-text {
  font-size: 2.5rem;
  font-family: "Agbalumo";
}
